@charset "UTF-8";

h1, h2, h3, p, span {
    font-size: 12px;
}

#openbtn {
    display: block;
    z-index: 10;
}

#agent-selection {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding: 65px 65px 65px 28px;
    transition: 0.5s;
    background-color: #b1b1b1;
    display: none;
}

#agent, #agent-info {
    flex: 1;
}

.icon {
    width: 30px;
    height: 30px;
}