@charset "UTF-8";

h1, h2, h3, p, span {
    font-size: 12px;
}

#openbtn {
    display: block;
}

#closebtn {
    display: none;
}

#agent-selection {
    height: 100%; /* 100% Full-height */
    width: 50%; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 65px 65px 65px 28px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background-color: #b1b1b1;
}

#agent, #agent-info {
    flex: 1;
}

.icon {
    width: 30px;
    height: 30px;
}