@charset "UTF-8";

h1, h2, h3, p, span {
    font-size: 12px;
}

main {
    align-items: start;
}

#openbtn {
    display: block;
    z-index: 10;
}

#agent-selection {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding: 65px 65px 65px 28px;
    transition: 0.5s;
    background-color: #b1b1b1;
    display: none;
}

#agent, #agent-info {
    flex: 1;
    height: 80%;
}

.icon {
    width: 35px;
}

#agent-info {
    justify-content: start;
    padding-top: 100px;
}

.abilities {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0px;
    justify-content: center;
}

.ability {
    width: 15%;
}